<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Army Public School Kota">
    <meta name="keywords" content="Aps kota, school cbse, Army Public school Kota, School in Kota, Heroku Kota">
    <meta name="author" content="Army Public School">
    <link rel="shortcut icon" type="image/png" href="/media/blog/images/favicon.png">
    <title>APS KOTA | EDUCATION</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
</head>
<body>
    <div class="conatiner">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">APS KOTA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="\post">POST</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact US</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
      <!-- /Navbar -->
    
      
    {% block start %}

    {% endblock %}

    <!--Footer  -->
    <footer class="position-relative z-index-10 d-print-none bg-black">
   
      <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left">
              <p class="text-sm mb-md-0" style="color: white;">&copy; 2020, APS KOTA.  All rights reserved.</p>
            </div>
           
          </div>
        </div>
      </div>
    </footer>
   
    <!-- Bootsrap js -->
     <script
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
     crossorigin="anonymous"
   ></script>
  </body>
</html>